<!DOCTYPE html>
<html lang="en">
<head>
    {{> inc/head.mustache}}
</head>
<body>
<div>
    <main>
        <div style="margin: auto; margin-top: 10em;">
            <div>
                <h2 class="mdl-card__title-text">Demo Login.</h2>
            </div>
            <div>
                <form method="POST" action="/login">
                    <div>
                        <input type="text" name="userName" id="userName"/>
                        <label for="userName">Username</label>
                    </div>
                    <div>
                        <input type="password" name="password" id="password"/>
                        <label for="password">Password</label>
                    </div>
                    <div>
                        <button type="submit" name="act" value="login">Log in</button>
                        <button type="submit" name="act" value="register">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>
