<!DOCTYPE html>
<html lang="en">
<head>
    {{> inc/head.mustache}}
</head>
<body>
<div>
    <main>
        <div>
            <div>
                <div>
                    <h1>Messages for {{userName}}</h1>
                </div>
                <div>
                    <h2>Old Messages</h2>
                    <ul>
                        {{#messages}}
                        <li>
                            <p>Message {{messageDate}}: {{message}}</p>
                            <p>Reply {{replyDate}}: {{reply}}</p>
                        </li>
                        {{/messages}}
                    </ul>
                    <h2>Send a new message</h2>
                    <form method="POST" action="/messages">
                        <input type="hidden" name="csrf" value="{{csrf}}"/>
                        <input type="hidden" name="user" value="{{user}}"/>
                        <div>
                            <input type="text" name="message" id="message"/>
                            <label for="message">Message</label>
                        </div>
                       <div>
                            <button type="submit" name="send" value="send">Send</button>
                        </div>
                    </form>
                    <p>Back to <a href="/index.html">the index</a>.</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
